<head>
</head>
<body>
    <nav>
    <h1>Address Book</h1>
    </nav>    
    <div class="container">   
        <div id="addAddressModal">
            <h3>Add New Address</h3>
            <%= form_with url: 'addresses', html: {id: "addAddressForm"}, model: @address do |form| %>
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>                
                <%= form.text_field :street, placeholder: "Street" %>
                <%= form.text_field :town, placeholder: "Town" %>
                <%= form.text_field :zipCode, placeholder: "Zip Code" %>                                
                <%= form.text_field :state, placeholder: "State" %>                                
                <%= form.select :country, @countryList %>                                
                <%= form.hidden_field :person_id, value: params[:id] %>
                <%= form.submit %>
            <% end %>
            <button id="addAddressClose" class="btn btn-danger">Close</button>
        </div>
        <div id="editAddressModal">
            <h3>Edit Address</h3>
            <%= form_with url: 'address', method: 'put', html: {id: "editAddressForm"}, model: @address do |form| %>
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>                
                <%= form.text_field :street, placeholder: "Street" %>
                <%= form.text_field :town, placeholder: "Town" %>
                <%= form.text_field :zipCode, placeholder: "Zip Code" %>                                
                <%= form.text_field :state, placeholder: "State" %>                                
                <%= form.select :country, @countryList %>         
                <%= form.hidden_field :person_id, value: params[:id] %>                                             
                <%= form.hidden_field :id %>
                <%= form.submit %>
            <% end %>
            <button id="editAddressClose" class="btn btn-danger">Close</button>
        </div>

        <div class="table-responsives">
            <div class="table-title">
                <div class="row">
                    <div class="col-xs-6">
                        <h2>Manage <%= @person.fullName  %>'s Addresses</b></h2>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <a id="addAddressButton" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Address</span></a>                        
                        </div>
                        <div class="col-xs-6">
                            <a id="addAddressButton" class="btn btn-info" data-toggle="modal" href="/address_book"> <span>Return</span></a>                        
                        </div>  
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Street</th> 
                                <th>Town</th>    
                                <th>Zip Code</th>                       
                                <th>State</th>                       
                                <th>Country</th>                                
                            </tr>
                        </thead>
                        <tbody id="addressTableBody">
                            <% @addresses.each do |address| %>
                                <tr id="row-address-<%= address.id %>">
                                    <td><%= address.street %></td>
                                    <td><%= address.town %></td>
                                    <td><%= address.zipCode %></td>
                                    <td><%= address.state %></td>
                                    <td><%= address.country %></td>                                
                                    <td><span><button class="btn btn-warning editAddressButton" data-address-id="<%= address.id %>">Edit</button></span><span><%= button_to "Delete", {:controller => :address,
      :action => 'delete', :id => address.id }, :method => :delete, class: "btn btn-danger"%></span></td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script
        src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
        crossorigin="anonymous"></script>
    <script>
     window.jQuery = window.$ = jQuery;

    function buildRow(data){
        let deleteBtn = '<form class="button_to" method="post" action="/address/'+data.id+'"><input type="hidden" name="_method" value="delete" autocomplete="off"><input class="btn btn-danger" type="submit" value="Delete"><%= hidden_field_tag :authenticity_token, form_authenticity_token %></form>';
        let row = "<td>"+data.street+"</td><td>"+data.town+"</td><td>"+data.zipCode+"</td><td>"+data.state+"</td><td>"+data.country+"</td><td><span><button class=\"btn btn-warning editAddressButton\" data-address-id=\""+data.id+"\">Edit</button></span><span>"+deleteBtn+"</span></td>";
        return row;
    }

    $(document).on('click', ".editAddressButton", function(){
        $('#addAddressModal').hide();
        $.get('/address/'+$(this).data('address-id'), function(){
            }).done(function(response){            
                $('#editAddressForm input[id="street"]').val(response.street);
                $('#editAddressForm input[id="town"]').val(response.town);
                $('#editAddressForm input[id="zipCode"]').val(response.zipCode);
                $('#editAddressForm input[id="state"]').val(response.state);
                $('#editAddressForm select[id="country"]').val(response.country).change();
                $('#editAddressForm input[id="id"]').val(response.id);

                $('#editAddressModal').show();
            });
    });

     $(document).ready(function() {

        $("#addAddressForm").submit(function(event){
            event.preventDefault();
            $.post('addresses', $(this).serialize(), function(){  
            }).done(function(response){
                if(response.created){
                    newRow = buildRow(response);
                    $('#addressTableBody').append('<tr>'+newRow+'</tr>');
                }                
            });
        });

         $("#addAddressButton").click(function(){
            
            $('#addAddressModal').show();
            $('#editAddressModal').hide();
         });

         $("#addAddressClose").click(function(){
            
            $('#addAddressModal').hide();
         });

         $("#editAddressForm").submit(function(event){
            event.preventDefault();
            $.post('/address', $(this).serialize(), function(){  
            }).done(function(response){
                if(response.updated){
                    let updatedRow = buildRow(response);
                    $("#row-address-"+response.id).html(updatedRow);
                }                
            });
        });


         $("#editAddressClose").click(function(){
            
            $('#editAddressModal').hide();
         });
     });
  </script>
<body>
