<!DOCTYPE html>
<html>
  <head>
    <title>AddressBook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>    
    <nav>
    <h1>Address Book</h1>
    </nav>
    <div class="container">   
        <%= yield :modals %>                
        <%= yield :page_title %>
        <div class="row pt-3">
            <div class="col">
            <%= yield :table %>
            </div>
        </div>        
    </div><%# container %>
    <%= render "shared/jquery" %>
    <%= yield :body_end %>
  </body>
</html>
