<% content_for :modals do %>
    <div class="modal" id="addPersonModal" tabindex="-1">
            <div class="modal-dialog">            
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add New Person</h5>
                    </div>
                    <div class="modal-body">
                        <%= form_with url: 'person', html: {id: "addPersonForm"}, model: @person do |form| %>
                            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                            <div class="mb-3">
                                <label for="salutation" class="form-label">Salutation</label>
                                <%= form.select :salutation, ['Mr.', 'Mrs.', 'Ms.'], {}, class: 'form-select' %>
                            </div>
                            <div class="mb-3">
                                <%= form.text_field :firstName, placeholder: "First Name", class: 'form-control' %>
                            </div>
                            <div class="mb-3">
                                <%= form.text_field :middleName, placeholder: "Middle Name", class: 'form-control' %>
                            </div>
                            <div class="mb-3">
                                <%= form.text_field :lastName, placeholder: "Last Name", class: 'form-control' %>
                            </div>
                            <div class="mb-3">
                                <%= form.text_field :ssn, placeholder: "SSN", class: 'form-control' %>
                            </div>
                            <div class="mb-3">
                                <label for="birthDate" class="form-label">Birth Date</label>
                                <div>
                                    <%= form.date_select :birthDate, {start_year: 1950}, {class: 'form-select date-select'} %>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="comment" class="form-label">Comment</label>
                                <%= form.text_area :comment, size: "10x2", placeholder: 'Write comments here...', class: 'form-control' %>
                            </div>                                                                 
                    </div>
                    <div class="modal-footer">
                        <div class="row w-100">
                            <div class="col">
                                <%= form.submit 'Save', class: 'btn btn-success' %>
                                <% end %>           
                            </div>
                            <div class="col text-end">
                                <button id="addPersonClose" class="btn btn-danger">Close</button>            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="editPersonModal" tabindex="-1">
            <div class="modal-dialog">            
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Person</h5>
                    </div>
                    <div class="modal-body">
                        <%= form_with url: 'person', method: 'put', html: {id: "editPersonForm"}, model: @person do |form| %>
                            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                            <%= form.hidden_field :id %>
                            <div class="mb-3">
                                <label for="salutation" class="form-label">Salutation</label>
                                <%= form.select :salutation, ['Mr.', 'Mrs.', 'Ms.'], {}, class: 'form-select' %>
                            </div>
                            <div class="mb-3">
                                <%= form.text_field :firstName, placeholder: "First Name", class: 'form-control' %>
                            </div>
                            <div class="mb-3">
                                <%= form.text_field :middleName, placeholder: "Middle Name", class: 'form-control' %>
                            </div>
                            <div class="mb-3">
                                <%= form.text_field :lastName, placeholder: "Last Name", class: 'form-control' %>
                            </div>
                            <div class="mb-3">
                                <%= form.text_field :ssn, placeholder: "SSN", class: 'form-control' %>
                            </div>
                            <div class="mb-3">
                                <label for="birthDate" class="form-label">Birth Date</label>
                                <div>
                                    <%= form.date_select :birthDate, {start_year: 1950}, {class: 'form-select date-select'} %>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="comment" class="form-label">Comment</label>
                                <%= form.text_area :comment, size: "10x2", placeholder: 'Write comments here...', class: 'form-control' %>
                            </div>                                                                 
                    </div>
                    <div class="modal-footer">
                        <div class="row w-100">
                            <div class="col">                                
                                <%= form.submit 'Save', class: 'btn btn-success' %>
                                <% end %>           
                            </div>
                            <div class="col text-end">
                                <button id="editPersonClose" class="btn btn-danger">Close</button>            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<% end %>
<% content_for :page_title do %>
    <div class="row">
            <div class="col">
              <h3>Manage Contacts</h3>  
            </div>                    
            <div class="col text-end">
                <div>
                <a id="addPersonButton" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Person</span></a>                        
                </div>
            </div>
    </div>    
<% end %>
<% content_for :table do %>
<table class="table table-light">
    <thead>
        <tr>
            <th>Name</th> 
            <th>SSN</th>    
            <th>Birth Date</th>                       
            <th>Comment</th>                       
            <th>Addresses</th>
            <th>Emails</th>
            <th>Phones</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody id="peopleTableBody">
        <% @people.each do |person| %>
            <tr id="row-person-<%= person.id %>">
                <td><%= person.fullName %></td>
                <td><%= person.ssn %></td>
                <td><%= person.birthDate %></td>
                <td><%= person.comment %></td>
                <td><a class="btn btn-info" href="person/<%= person.id %>/addresses">View</a></td>
                <td><a class="btn btn-info" href="person/<%= person.id %>/emails">View</a></td>
                <td><a class="btn btn-info" href="person/<%= person.id %>/phones">View</a></td>
                <td class="text-center">
                    <button class="btn btn-warning editPersonButton" data-person-id="<%= person.id %>">Edit</button>                                                 
                    <%= button_to "Delete", {:controller => :person,
:action => 'delete', :id => person.id }, :method => :delete, class: "btn btn-danger"%>                                                                            
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<% end %>

<% content_for :body_end do %>
<script>
    function buildRow(data){
        let deleteBtn = '<form class="button_to" method="post" action="/person/'+data.id+
            '"><input type="hidden" name="_method" value="delete" autocomplete="off"><input class="btn btn-danger" type="submit" value="Delete"><%= hidden_field_tag :authenticity_token, form_authenticity_token %></form>';
        
        let row = "<td>"+data.fullName+"</td><td>"+data.ssn+"</td><td>"+data.birthDate+"</td><td>"+data.comment+"</td><td><a class=\"btn btn-info\" href=\"person/"+data.id+
            "/addresses\">View</a></td><td><a class=\"btn btn-info\" href=\"person/"+data.id+"/emails\">View</a></td><td><a class=\"btn btn-info\" href=\"person/"+data.id+
            "/phones\">View</a></td><td class=\"text-center\"><button class=\"btn btn-warning editPersonButton\" data-person-id=\""+data.id+"\">Edit</button>\n"+deleteBtn+"</td>";
        return row;
    }

    $(document).on('click', ".editPersonButton", function(){
        $('#addPersonModal').hide();
        $.get('person/'+$(this).data('person-id'), function(){
            }).done(function(response){            
                $('#editPersonForm select[id="salutation"]').val(response.salutation).change();

                let birthDate = new Date(response.birthDate+' 00:00:00');                    

                $('#editPersonForm select[id="_birthDate_1i"]').val(birthDate.getFullYear()).change();
                $('#editPersonForm select[id="_birthDate_2i"]').val(birthDate.getMonth()+1).change();
                $('#editPersonForm select[id="_birthDate_3i"]').val(birthDate.getDate()).change();

                $('#editPersonForm input[id="firstName"]').val(response.firstName);
                $('#editPersonForm input[id="middleName"]').val(response.middleName);
                $('#editPersonForm input[id="lastName"]').val(response.lastName);
                $('#editPersonForm input[id="ssn"]').val(response.ssn);
                $('#editPersonForm textarea[id="comment"]').val(response.comment);
                $('#editPersonForm input[id="id"]').val(response.id);
                $('#editPersonModal').show();
            });
    });

     $(document).ready(function() {

        $("#addPersonForm").submit(function(event){
            event.preventDefault();
            $.post('person', $(this).serialize(), function(){  
            }).done(function(response){
                if(response.created){
                    $('#addPersonModal').hide();

                    newRow = buildRow(response);
                    $('#peopleTableBody').append('<tr id="row-person-'+response.id+'">'+newRow+'</tr>');
                }                
            });
        });

         $("#addPersonButton").click(function(){
            
            $('#addPersonForm select[id="salutation"]').val('Mr.').change();

            let birthDate = new Date();            

            $('#addPersonForm select[id="_birthDate_1i"]').val(birthDate.getFullYear()).change();
            $('#addPersonForm select[id="_birthDate_2i"]').val(birthDate.getMonth()+1).change();
            $('#addPersonForm select[id="_birthDate_3i"]').val(birthDate.getDate()).change();

            $('#addPersonForm input[id="firstName"]').val('');
            $('#addPersonForm input[id="middleName"]').val('');
            $('#addPersonForm input[id="lastName"]').val('');
            $('#addPersonForm input[id="ssn"]').val('');
            $('#addPersonForm textarea[id="comment"]').val('');            
            $('#addPersonModal').show();
            $('#editPersonModal').hide();
         });

         $("#addPersonClose").click(function(){
            
            $('#addPersonModal').hide();
         });

         $("#editPersonForm").submit(function(event){
            event.preventDefault();
            $.post('person', $(this).serialize(), function(){  
            }).done(function(response){
                if(response.updated){
                     $('#editPersonModal').hide();

                    let updatedRow = buildRow(response);
                    $("#row-person-"+response.id).html(updatedRow);
                }                
            });
        });


         $("#editPersonClose").click(function(){
            
            $('#editPersonModal').hide();
         });
     });
  </script>
  <% end %>